# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Solution settings #
#####################
*.suo
.vs
.idea
*.DotSettings.user

# Build folders #
#################
packages
/Engine/bin
/Engine/obj
/Rarog/bin
/Rarog/obj
/UnitTests/bin
/UnitTests/obj
/Server/bin
/Server/obj
/ConsoleClient/bin
/ConsoleClient/obj
